header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  position: fixed;
  height: 80px;
  width: 100%;
  border-bottom: 1px solid black;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.logo span {
  color: MediumAquamarine;
}

header span{
  padding: 20px 10px;
}

nav {
  padding-right: 40px;
}

nav a {
  color: black;
}

.content {
  display: flex;
  position: relative;
  padding-top: 80px;
}
