

header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  position: fixed;
  height: 80px;
  width: 100%;
  border-bottom: 1px solid black;
  background-color: white;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 30px;
  width: 70px;
  height: 60px;
  margin-right: 12px;
  flex-grow: 1;
}

.logo span {
  color: MediumAquamarine;
}

header span{
  padding: 20px 10px;
}

nav {
  padding-right: 40px;
}

nav a {
  color: black;
}

.content {
  display: flex;
  padding-top: 116px;
  margin: 0 auto 78px auto;
  width: 1232px;
}

 div {
  border: 1px solid black;
}

.column {
  margin-right: 32px;
  flex-direction: column;
  display: flex;

}

#first_column {
  width: 630px;
}

#second_column {
  width: 300px;
}

#news_bites {
  width: 240px;
}
